################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TrainingAcademy5.2Camp/.vs/TrainingAcademy5.2Camp/DesignTimeBuild
/TrainingAcademy5.2Camp/bin/Debug/netcoreapp3.1
/TrainingAcademy5.2Camp/obj/Debug/netcoreapp3.1
/TrainingAcademy5.2Camp/obj/Release/netcoreapp3.1
/TrainingAcademy5.2Camp/obj
/TrainingAcademy5.2Camp/.vs/TrainingAcademy5.2Camp/v15
/TrainingAcademy5.2Camp/bin/Debug/netcoreapp2.1
/TrainingAcademy5.2Camp/TrainingAcademy5.2Camp.csproj.user
